name: Chromatic
run-name: ${{ github.actor }}의 디자인시스템 작업물이 도착했어요!

on:
  pull_request_review:
    types: [submitted]

jobs:
  your-action:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest
    steps:
      - id: reviews
        uses: github-actions-tools/gh-reviews-count@v0.0.1
        with:
          pull_number: ${{ github.event.pull_request.number }}

      - name: Echo
        run: echo "${{ steps.reviews.outputs.pending }}"

